<p><% current_user.name %></p>
<% @recipes.each do |recipe| %>
  <%= attachment_image_tag recipe, :image, format: 'jpeg', size: "248x200" %>
  <%= link_to recipe.name, ingredients_path(:recipe_id =>recipe.id) %><br>
<% end %>

<%= link_to 'レシピ新規作成', new_recipe_path %><br>